{% extends "base.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
         <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
{% endwith %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">로그인</h5> 
    <form method="post">
        <div class="mb-3">
            <label for="username">사용자 이름</label>
            <input type="text" class="form-control" name="name" id="name"
                   value="{{ form.name.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.data or '' }}">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </form>
</div>
{{ csrf_token() }}<br>

<a href="{{ url_for('main.main_page') }}" class="btn btn-primary">home page</a><br>
{% endblock %}

