{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">
        $(document).ready(function(){
            console.log('http://' + document.domain + ':' + location.port)
            var socket = io.connect('http://' + document.domain + ':' + location.port);
    
            socket.on('connect', function(){
                    var connect_string = 'new_connect';
                    socket.send(connect_string);
            });
    
            socket.on('message', function(msg){
                    // console.log(type(msg));
                    if(msg.type === 'normal'){
                            $('#messages').append('>> '+msg.message+'<br>');
                    }else{
                            $('#messages').append('<li>' + msg.message + '</li>');
                    }
                    console.log('Received Message : '+msg.type);
            });
    
            $('#sendbutton').on('click', function(){
                    socket.send($('#myMessage').val());
                    $('#myMessage').val('');
            });
        });
      </script>
      <ul id="messages"></ul>
      <input type="text" id="myMessage">
      <button id="sendbutton">Send</button>
{% endblock %}