{% extends 'base.html' %}
{% block content %}
{% if g.user %}
    {{ g.user.name }}<br>
    <a href="{{ url_for('main.logout') }}" class="btn btn-primary">logout</a><br>
{% endif %}
<a href="{{ url_for('mongo.db_see') }}" class="btn btn-primary">db test</a><br>
<a href="{{ url_for('mongo.insert_page') }}" class="btn btn-primary">db insert data</a><br>
<a href="{{ url_for('form_test.test_form') }}" class="btn btn-primary">form get post</a><br>
<a href="{{ url_for('json_test.test_json') }}" class="btn btn-primary">json get post</a><br>
<a href="{{url_for('form_tests.test')}}" class = "btn btn-primary">wtf test page</a><br>
<a href="{{url_for('user_login.login_test')}}" class = "btn btn-primary">login test page</a><br>
<a href="{{url_for('sign_up.sign_up')}}" class = "btn btn-primary">sign test page</a><br>
<a href="{{url_for('board.db_see')}}" class = "btn btn-primary">board test page</a><br>
<a href="{{url_for('socket.chatting')}}" class = "btn btn-primary">chat test</a>
{% endblock %}