{% extends 'base.html' %}
{% block content %}
<form action = {{ url_for("form_tests.view") }} method = "POST">
    {{ form.csrf_token }}
    {{form.name.label}}
    {{form.name(class = "form-control")}}

    {{form.content.label}}
    {{form.content(class = "form-control")}}
    <input type="submit">
</form>
<br>
<form action = {{ url_for("form_tests.view") }} method = "POST">
    {{form.name.label}}
    {{form.name()}}

    {{form.content.label}}
    {{form.content()}}
    <input type="submit">
</form>
<a href="{{url_for('main.main_page')}}" class = "btn btn-primary">home page</a>
{% endblock %}